doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Shopee Clone
    
    //- Font Awesome (Icon)
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css')
    //- Font chữ
    link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap' rel='stylesheet')
    
    //- CSS Chính
    link(rel='stylesheet' href='/css/style-heading.css')
    link(rel="stylesheet", href="/css/home.css")
    
    //- Tailwind CSS (Vẫn giữ để style các phần khác)
    script(src="https://cdn.tailwindcss.com")
    
    //- Block Head riêng cho từng trang con
    block head

  body 
    header.shopee-header
      .container
        //- === 1. NAVBAR TRÊN CÙNG ===
        nav.header-navbar
          ul.navbar-list
            li.navbar-item Kênh Người Bán
            li.navbar-item.separator
            li.navbar-item Tải ứng dụng
            li.navbar-item.separator
            li.navbar-item
              | Kết nối
              i.fa-brands.fa-facebook.margin-left-5
              i.fa-brands.fa-instagram.margin-left-5
          
          ul.navbar-list
            li.navbar-item
              i.fa-regular.fa-bell.margin-right-5
              | Thông Báo
            li.navbar-item
              i.fa-regular.fa-circle-question.margin-right-5
              | Hỗ Trợ
            li.navbar-item
              i.fa-solid.fa-globe.margin-right-5
              | Tiếng Việt 
              i.fa-solid.fa-chevron-down.margin-left-5(style='font-size: 10px;')
            
            //- === LOGIC USER (Đăng nhập/Đăng xuất) ===
            if user
              //- Đã đăng nhập
              li.navbar-item.user-item.relative.group
                .user-avatar.flex.items-center.cursor-pointer
                  img.w-6.h-6.rounded-full.mr-2(src="https://placehold.co/150x150/orange/white?text=" + (user.username ? user.username.charAt(0).toUpperCase() : 'U') alt="Avatar")
                  span.user-name.font-bold= user.username
                
                //- Menu xổ xuống
                ul.user-menu.absolute.top-full.right-0.bg-white.shadow-md.rounded.z-50.w-40.hidden(class="group-hover:block text-black")
                  li.hover_bg-gray-100: a.block.px-4.py-2(href='#') Tài khoản của tôi
                  li.hover_bg-gray-100: a.block.px-4.py-2(href='#') Đơn mua
                  li.border-t
                  li.hover_bg-gray-100: a.block.px-4.py-2(href='/logout') Đăng xuất
            else
              //- Chưa đăng nhập
              li.navbar-item
                a.navbar-link(href='/dangky') Đăng Ký
              li.navbar-item.separator
              li.navbar-item
                a.navbar-link(href='/dangnhap') Đăng Nhập

        //- === 2. THANH TÌM KIẾM & GIỎ HÀNG ===
        .header-with-search
          .header-logo
            a(href="/" style="text-decoration: none; color: inherit;")
                i.fa-solid.fa-bag-shopping.logo-icon
                span.logo-text Taopee
          
          //- Form Tìm kiếm
          form.header-search(action='/timkiem' method='GET')
            .header-search-input-wrap.relative
                //- value=(keyword || '') để giữ lại từ khóa khi reload trang
                input#search-input.header-search-input(
                  type='text' 
                  name='keyword' 
                  placeholder='Tìm sản phẩm, thương hiệu...' 
                  autocomplete="off" 
                  value=(keyword || '')
                )
                
                button#btnSearch.header-search-btn(type='submit')
                    i.fa-solid.fa-magnifying-glass

                //- Gợi ý (Demo)
                #search-results.hidden.absolute.top-full.left-0.w-full.bg-white.rounded-sm.shadow-lg.mt-1.border.border-gray-100.z-50
                    ul#suggestion-list.text-sm.text-black.text-left
            
            //- Lịch sử tìm kiếm
            .header-search-history
              a(href='/timkiem?keyword=ao') Áo Khoác
              a(href='/timkiem?keyword=iphone') iPhone
          
          //- === 3. GIỎ HÀNG (ĐÃ SỬA: DÙNG CSS CỨNG) ===
          .header-cart
             a(href="/gio-hang" style="position: relative; display: inline-block; margin-left: 20px;" class="group")
               i.fa-solid.fa-cart-shopping(style="color: white; font-size: 24px;")
               
               //- Xử lý Badge số lượng
               - var count = (typeof cartCount !== 'undefined') ? cartCount : 0
               
               //- SỬ DỤNG STYLE TRỰC TIẾP (Để khắc phục lỗi mất style khi chuyển trang)
               span#cart-badge(
                 style=`
                   position: absolute;
                   top: -8px;
                   right: -10px;
                   background-color: white;
                   color: #ee4d2d;
                   font-size: 12px;
                   font-weight: bold;
                   padding: 1px 6px;
                   border-radius: 50%;
                   border: 1px solid #ee4d2d;
                   z-index: 999;
                   display: ${count > 0 ? 'block' : 'none'};
                 `
               ) #{count}
    
    //- === NỘI DUNG CHÍNH ===
    block main

    footer.footer
        .container
             h3.footer-heading(style="margin-top: 20px; text-align: center; color: #737373; font-size: 14px;") &copy; 2026 Shopee Clone - Demo Playwright

    //- Block Script
    block scripts